<% if(avg < 1) {%>
    <div class = 'flexContainer revs'>
        <img src = 'Images/Star Half.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>

        <span id = "avgrev"><%= avg.toFixed(2) %></span>
    </div>
    <% } %>

<% if(avg >= 1 && avg < 1.5) {%>
    <div class = 'flexContainer revs'>
        <img src = 'Images/Star full.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <span id = "avgrev"><%= avg.toFixed(2) %></span>
</div>
<% } %>

<% if(avg >= 1.5 && avg < 2) {%>
    <div class = 'flexContainer revs'>
        <img src = 'Images/Star full.jpg' class = 'smol'>
        <img src = 'Images/Star Half.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <span id = "avgrev"><%= avg.toFixed(2) %></span>
</div>
<% } %>


<% if(avg >= 2 && avg < 2.5) {%>
    <div class = 'flexContainer revs'>
        <img src = 'Images/Star full.jpg' class = 'smol'>
        <img src = 'Images/Star full.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <span id = "avgrev"><%= avg.toFixed(2) %></span>
</div>
<% } %>

<% if(avg >= 2.5 && avg < 3) {%>
    <div class = 'flexContainer revs'>
        <img src = 'Images/Star full.jpg' class = 'smol'>
        <img src = 'Images/Star full.jpg' class = 'smol'>
        <img src = 'Images/Star Half.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <img src = 'Images/Star empty.jpg' class = 'smol'>
        <span id = "avgrev"><%= avg.toFixed(2) %></span>
</div>
    <% } %>

    <% if(avg >= 3 && avg < 3.5) {%>

       <div class = 'flexContainer revs'>
            <img src = 'Images/Star full.jpg' class = 'smol'>
            <img src = 'Images/Star full.jpg' class = 'smol'>
            <img src = 'Images/Star full.jpg' class = 'smol'>
            <img src = 'Images/Star empty.jpg' class = 'smol'>
            <img src = 'Images/Star empty.jpg' class = 'smol'>
            <span id = "avgrev"><%= avg.toFixed(2) %></span>
        </div>
        <% } %>

        <% if(avg >= 3.5 && avg < 4) {%>

            <div class = 'flexContainer revs'>
                 <img src = 'Images/Star full.jpg' class = 'smol'>
                 <img src = 'Images/Star full.jpg' class = 'smol'>
                 <img src = 'Images/Star full.jpg' class = 'smol'>
                 <img src = 'Images/Star Half.jpg' class = 'smol'>
                 <img src = 'Images/Star empty.jpg' class = 'smol'>
                 <span id = "avgrev"><%= avg.toFixed(2) %></span>
             </div>
             <% } %>

        <% if(avg >= 4 && avg < 4.5) {%>
            <div class = 'flexContainer revs'>
            <img src = 'Images/Star full.jpg' class = 'smol'>
            <img src = 'Images/Star full.jpg' class = 'smol'>
            <img src = 'Images/Star full.jpg' class = 'smol'>
            <img src = 'Images/Star full.jpg' class = 'smol'>
            <img src = 'Images/Star empty.jpg' class = 'smol'>
            <span id = "avgrev"><%= avg.toFixed(2) %></span>
        </div>
            <% } %>
            <% if(avg >= 4.5 && avg < 5) {%>
                <div class = 'flexContainer revs'>
                <img src = 'Images/Star full.jpg' class = 'smol'>
                <img src = 'Images/Star full.jpg' class = 'smol'>
                <img src = 'Images/Star full.jpg' class = 'smol'>
                <img src = 'Images/Star full.jpg' class = 'smol'>
                <img src = 'Images/Star Half.jpg' class = 'smol'>

                <span id = "avgrev"><%= avg.toFixed(2) %></span>
            </div>
                <% } %>
            <% if(avg == 5) { %>
                <div class = 'flexContainer revs'>
                    <img src = 'Images/Star full.jpg' class = 'smol'>
                    <img src = 'Images/Star full.jpg' class = 'smol'>
                    <img src = 'Images/Star full.jpg' class = 'smol'>
                    <img src = 'Images/Star full.jpg' class = 'smol'>
                    <img src = 'Images/Star full.jpg' class = 'smol'>

                    <span id = "avgrev"><%= avg.toFixed(2) %></span>
                </div>
            <% } %>

<% } else { %>

    <p id = "avgrev">No Reviews</p>
