<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don Toliver Vocal Preset | SoundMixerz</title>
    <link rel = "stylesheet" href = "/css/Artist.css">
    <link rel="icon" href="/Images/SoundMixerzLogoBlue.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    
    <%- include("../Partials/tabs.ejs") %>

    
    <div class = "products">
        <%- include("../Partials/MailBox.ejs") %>
    
        <%- include('../Partials/Itemadded.ejs') %>
        <%- include('../Partials/NotLogged.ejs')%>
        <%- include('../Partials/BuyVPForm.ejs')%>
<div class = "product">
  
        <fieldset id = "images">
            <h1>Don Toliver Vocal Preset</h1>
            <img src = "/Images/Don-Toliver.webp">
        </fieldset>

        <fieldset id = "desc">
            <br>
            <br>
            <br>
            <br>
            <br>
                <p class = "inline titles" id = "in1">Don Toliver </p><p id = "vpname"  class = "inline titles"></p><p class = "inline titles"> Vocal Preset</p>

            
            <p id = "price1"></p>
            <% if(DonToliverREV.length > 0) { %>
                <% var x = 0 %>
                <% DonToliverREV.forEach(DonToliverREV => { %>
                        <% x = DonToliverREV.rating + x %>
                        <% }) %>
                        <% avg = (x)/DonToliverREV.length%>
                        <% if(avg < 1) {%>
                            <div class = 'flexContainer revs'>
                                <img src = '/Images/Star Half.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                        
                                <span id = "avgrev"><%= avg.toFixed(1) %></span>
                            </div>
                            <% } %>
                        
                        <% if(avg >= 1 && avg < 1.5) {%>
                            <div class = 'flexContainer revs'>
                                <img src = '/Images/Star full.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <span id = "avgrev"><%= avg.toFixed(1) %></span>
                        </div>
                        <% } %>
                        
                        <% if(avg >= 1.5 && avg < 2) {%>
                            <div class = 'flexContainer revs'>
                                <img src = '/Images/Star full.jpg' class = 'smol'>
                                <img src = '/Images/Star Half.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <span id = "avgrev"><%= avg.toFixed(1) %></span>
                        </div>
                        <% } %>
                        
                        
                        <% if(avg >= 2 && avg < 2.5) {%>
                            <div class = 'flexContainer revs'>
                                <img src = '/Images/Star full.jpg' class = 'smol'>
                                <img src = '/Images/Star full.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <span id = "avgrev"><%= avg.toFixed(1) %></span>
                        </div>
                        <% } %>
                        
                        <% if(avg >= 2.5 && avg < 3) {%>
                            <div class = 'flexContainer revs'>
                                <img src = '/Images/Star full.jpg' class = 'smol'>
                                <img src = '/Images/Star full.jpg' class = 'smol'>
                                <img src = '/Images/Star Half.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <img src = '/Images/Star empty.jpg' class = 'smol'>
                                <span id = "avgrev"><%= avg.toFixed(1) %></span>
                        </div>
                            <% } %>
                        
                            <% if(avg >= 3 && avg < 3.5) {%>
                        
                               <div class = 'flexContainer revs'>
                                    <img src = '/Images/Star full.jpg' class = 'smol'>
                                    <img src = '/Images/Star full.jpg' class = 'smol'>
                                    <img src = '/Images/Star full.jpg' class = 'smol'>
                                    <img src = '/Images/Star empty.jpg' class = 'smol'>
                                    <img src = '/Images/Star empty.jpg' class = 'smol'>
                                    <span id = "avgrev"><%= avg.toFixed(1) %></span>
                                </div>
                                <% } %>
                        
                                <% if(avg >= 3.5 && avg < 4) {%>
                        
                                    <div class = 'flexContainer revs'>
                                         <img src = '/Images/Star full.jpg' class = 'smol'>
                                         <img src = '/Images/Star full.jpg' class = 'smol'>
                                         <img src = '/Images/Star full.jpg' class = 'smol'>
                                         <img src = '/Images/Star Half.jpg' class = 'smol'>
                                         <img src = '/Images/Star empty.jpg' class = 'smol'>
                                         <span id = "avgrev"><%= avg.toFixed(1) %></span>
                                     </div>
                                     <% } %>
                        
                                <% if(avg >= 4 && avg < 4.5) {%>
                                    <div class = 'flexContainer revs'>
                                    <img src = '/Images/Star full.jpg' class = 'smol'>
                                    <img src = '/Images/Star full.jpg' class = 'smol'>
                                    <img src = '/Images/Star full.jpg' class = 'smol'>
                                    <img src = '/Images/Star full.jpg' class = 'smol'>
                                    <img src = '/Images/Star empty.jpg' class = 'smol'>
                                    <span id = "avgrev"><%= avg.toFixed(1) %></span>
                                </div>
                                    <% } %>
                                    <% if(avg >= 4.5 && avg < 5) {%>
                                        <div class = 'flexContainer revs'>
                                        <img src = '/Images/Star full.jpg' class = 'smol'>
                                        <img src = '/Images/Star full.jpg' class = 'smol'>
                                        <img src = '/Images/Star full.jpg' class = 'smol'>
                                        <img src = '/Images/Star full.jpg' class = 'smol'>
                                        <img src = '/Images/Star Half.jpg' class = 'smol'>
                        
                                        <span id = "avgrev"><%= avg.toFixed(1) %></span>
                                    </div>
                                        <% } %>
                                    <% if(avg == 5) { %>
                                        <div class = 'flexContainer revs'>
                                            <img src = '/Images/Star full.jpg' class = 'smol'>
                                            <img src = '/Images/Star full.jpg' class = 'smol'>
                                            <img src = '/Images/Star full.jpg' class = 'smol'>
                                            <img src = '/Images/Star full.jpg' class = 'smol'>
                                            <img src = '/Images/Star full.jpg' class = 'smol'>
                        
                                            <span id = "avgrev"><%= avg.toFixed(1) %></span>
                                        </div>
                                    <% } %>
                        
                        <% } else { %>
                        
                            <p id = "avgrev">No Reviews</p>
                        <% } %>
            <br>
            <p>Without Preset</p>
            <audio controls  controlsList="nodownload" src = '/PresetAudios/[Don Toliver] with no preset .wav'></audio>
            <br>
            <p>With Preset</p>
            <audio controls controlsList="nodownload" src = '/PresetAudios/[Don Toliver] with preset .wav' ></audio>
            <br>
            <p class = 'credit'>Song: Ture Up,  By: Don Toliver</p>
            <p>Good Quality and Affordable Vocal Preset to make your voice fit your kind of music. It's a simple, quick and afforadble way to make you sound more like your favorite artist.</p>
            
        </fieldset>


            <fieldset id = "buy-now">
                <p id = "price" class = "price"><strong></strong></p>
                <div class = "DAWButtonHolder flexContainer">

                    <button class = "DAWButtons" id = 'FLStudioDAWButton' >FL Studio</button>
                    <button class = "DAWButtons" id = 'LogicProXDAWButton' >LogicPro X</button>

                </div>
                
                <br>
                <%- include('../Partials/ShoppingCart.ejs') %>
                <br>
                <%- include('../Partials/BuyVP.ejs') %>

               
                <fieldset id = "pluginsUsed">
                    
                    <button  id = "buttonshowlist">Plugins Used ↓</button>
                        <ul class = "hide" id = "list">
                            
                          
                        </ul>
                    </fieldset>
            </fieldset>
            

            </div>
        <%- include("../Partials/FLLOGICVIDS.ejs") %>

            <%- include('../Partials/MorePresets.ejs') %>


                    



                    
                    
           
        <div class = "reviewstitle">
            <h3 class = "inline" id = "revtitle">Reviews:</h3>

            <button id = "createrev" >Write a Review</button>
        </div>
        <div class = "createreview" id = "createreview">
                
             
            <button class = "reset hidemycom" title = "Close" id = "close">X</button>
            <form action = '/Presets/DonToliver' method = 'post'>
            <br>
            <br>
            <div class = 'centered'>
            <div class = 'flexContainer starImages'>
           <img src = '//Images/Star full.jpg' class = 'starimg' id = 'star1'>
           <img src = '//Images/Star full.jpg' class = 'starimg' id = 'star2'>
           <img src = '//Images/Star full.jpg' class = 'starimg' id = 'star3'>
           <img src = '//Images/Star full.jpg' class = 'starimg' id = 'star4'>
           <img src = '//Images/Star full.jpg' class = 'starimg' id = 'star5'>
            <br>
            <br>
        </div>
        <br>
        <br>
        <label for = 'rating'>How Much Stars Would you Rate this product (1-5)</label>

            <input type = 'number' id = 'rating' name = 'rating' >
            <br>
            <br>
            <label for = 'reviewinput' id = "starselect"></label>
            <br>
            <textarea placeholder = "Enter Your Review Here..." cols = "65" rows = "5" id = "reviewinput" name = 'review' required></textarea>
            
            <button id = "reviewsubmit" class = 'hidemycom' >Submit</button>
        </div>
        </form>
    </div>
    
    <div id = "container">
        <% if(DonToliverREV.length > 0) { %>
            <% DonToliverREV.forEach(DonToliverREV => { %>
                <fieldset>
                    <% avg = DonToliverREV.rating%>
                    <% if(avg == 1) {%>
                        <div class = 'flexContainer revs'>
                           
                            <img src = '/Images/Star full.jpg' class = 'ig'>
                           
                    
                           
                        </div>
                        <% } %>
                    
                    
                    <% if(avg == 2) {%>
                        <div class = 'flexContainer revs'>
                           
                            <img src = '/Images/Star full.jpg' class = 'ig'>
                            <img src = '/Images/Star full.jpg' class = 'ig'>
                          
                            
                    </div>
                    <% } %>
                    
                    
                        <% if(avg == 3) {%>
                    
                           <div class = 'flexContainer revs'>
                           
                                <img src = '/Images/Star full.jpg' class = 'ig'>
                                <img src = '/Images/Star full.jpg' class = 'ig'>
                                <img src = '/Images/Star full.jpg' class = 'ig'>
                               
                              
                            </div>
                            <% } %>
                    
                    
                            <% if(avg == 4) {%>
                                <div class = 'flexContainer revs'>
                                   
                                <img src = '/Images/Star full.jpg' class = 'ig'>
                                <img src = '/Images/Star full.jpg' class = 'ig'>
                                <img src = '/Images/Star full.jpg' class = 'ig'>
                                <img src = '/Images/Star full.jpg' class = 'ig'>
                               
                              
                            </div>
                                <% } %>
                                <% if(avg == 5) { %>
                                    <div class = 'flexContainer revs'>
                                       
                                        <img src = '/Images/Star full.jpg' class = 'ig'>
                                        <img src = '/Images/Star full.jpg' class = 'ig'>
                                        <img src = '/Images/Star full.jpg' class = 'ig'>
                                        <img src = '/Images/Star full.jpg' class = 'ig'>
                                        <img src = '/Images/Star full.jpg' class = 'ig'>
                    
                                       
                                    </div>
                                <% } %>
                                <div class = 'flexContainer'>
                                <div class = ' PROFPICHOLDREV'>
                                    <% UD.forEach(UD => { %>
                                        <% if(UD.username == DonToliverREV.username){ %>
                                            <% if(UD.pfp == 'avatar.jpg'){ %>
                                                <img id = 'ProfPicHOLDER' src = '/Images/avatar.jpg'>
                                                <% } else{ %>
                                                    <% let i = 0 %>
                                                    <% let g = -1 %>
                                                    <% Users.forEach(Users => { %>
                                                        <% i++ %>
                                                        <% if (Users == UD.username && g == -1){ %>
                                                            <% g++ %>
                                                            <img id = 'ProfPicHOLDER' src = '<%= urls[i] %>'>
                                                     <%   } %>

                                                   <% }) %>
                                                    <%} %>
            
                                            <% } %>
                                  <%  }) %>
                                                </div>
                                                <div>
                                <h3><%= DonToliverREV.username %></h3>
                                </div>
                            </div>
                    <p><%= DonToliverREV.review %></p>
                    </fieldset>

            <%})%>
            <% }else { %>
                    <h1>There are no reviews...</h1>
           <% } %>
    </div>
          
                    </div>

        </div>
        <%- include('../Partials/footer.ejs') %>













    <script src = "/vpjs/dontoliver.js"></script>
</body>
</html>