<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | SoundMixerz</title>
    <style>
        :root {
            --plyr-color-main: #121212; /*progress bar color */
            --plyr-control-background: #555;
            --plyr-control-hover: #777;
            --plyr-control-active: #aaa;
            --plyr-progress-background: purple;
            --plyr-progress-buffer: #888;
            --plyr-volume-background: #999;
            --plyr-volume-bar: #00ff00;
            --plyr-volume-icon: #fff;
            --plyr-play-progress-color: #0000ff;
        }
    </style>
    <link rel = "stylesheet" href = "/css/beats.css">
    <link rel="icon" href="/Images/SoundMixerzLogoBlue.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/regions.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <%- include("../Partials/Seller.ejs") %>
    <div class = "products">
        <%- include("../Partials/MailBox.ejs") %>
        <%- include('../Partials/NotLogged.ejs')%>
        <div id = 'sucfavbeat'>
            <p id = 'favp'>Favorited Beat!</p>
            <p id = 'favpalr' class = 'hide'>Beat Already Favorited</p>
            <p id = 'DelFav' class = 'hide'>Removed out of Favorites</p>


        </div>
    
        <div class = 'userinfo flexContainer' id = 'userinfo'>
            <div class = 'profPicHolder'>
               
                <% UD.forEach(UD => { %>
                    <% if(UD.username == Auser){ %>
                        <% if(UD.pfp == 'avatar.jpg'){ %>
                            <img src = '/Images/<%= UD.pfp %>' id = 'ProfPic'>
                            <% } else {%>
                                
                                <img src = '<%= url %>' id = 'ProfPic'>

                                <% } %>
                        <% } %>
               <% }) %>
        </div>
       
            <div class = 'usernameHolder'>
                <span id = 'UsernameSpan'><%= Auser%></span>
                <% if(Auser == 'SoundMixerz' || Auser == 'JamesHDev' || Auser == 'SkullyFresh'){ %>
                    <span class = 'ExtRole'>Owner</span>
                    <% } %>
            </div>
       

        <div class = 'BadgeHolder'>
            <% UD.forEach(UD => { %>
                <% if(UD.username == Auser){ %>
                    <% if(UD.package !== 'free'){ %>
                        <% if(UD.package == 'Basic'){ %>
                            <img title = 'Basic Badge' class = 'badges' src = '/Images/BasicBadge.jpg'>
                            <% } %>
                            <% if(UD.package == 'Pro'){ %>
                                <img title = 'Pro Badge' class = 'badges' src = '/Images/ProBadge.jpg'>
                                <% } %>
                        <% } %>
                    <% } %>
            <% }) %>
           
        </div>

        </div>

        <div class = 'headerUser'>
            <h1 id = 'BeatHeader'><%= Auser %>'s Beats</h1>
        </div>
        <div id = 'divBeatHolder'>
            
            <div class = "zerooneminbeats section flexContainer" id = 'zerooneminbeats'><!--ZERO SECOND TO ONE MINUTE BEATS-->
                    <% if(BTall.length > 0){ %>
                        <% var x = -1%>
                        <% BTall.forEach(BTall => { %>
                            <% if(BTall.username == Auser){ %> 

                        <% x++%>
                        <a href = '/beats/<%= BTall._id %>' class = 'woms'>
                        <% if(BTall.tag3 !== ''){ %>
                        <div id = 'Beat_<%= x%>'class = "audioContainerOB audioContainer zeroToOneMin <%= BTall.tag1 %> <%= BTall.tag2 %> <%=BTall.tag3 %>" >
                      <%  } else if(BTall.tag2 !== ''){%>
                        <div id = 'Beat_<%= x%>'class = "audioContainerOB audioContainer zeroToOneMin <%= BTall.tag1 %> <%= BTall.tag2 %>">
                        
                        <% } else if(BTall.tag1 !== ''){ %>
                            <div id = 'Beat_<%= x%>'class = "audioContainerOB audioContainer zeroToOneMin <%= BTall.tag1 %>">
                      <%  } else {%>
                        <div id = 'Beat_<%= x%>'class = "audioContainerOB audioContainer zeroToOneMin NOTAGS">
                        <% } %>
                            <div class = 'aligner'>
                               
                            
                    
                                    
                            
                                <% if(BTall.src == 'NoImg.jpg'){ %>
                                    <div class = "backgroundimg">
                                    <img src = '/Images/<%= BTall.src %>'>
                                    <div class = "overlay-text">
                                    </a>
                                    <button class = 'play-btn' id = 'Play_<%= x%>' onclick = 'Play()' data-doc = '<%= BTall.id%>'>&#9654;</button>
                                    <% if(FV.length > 0) {%>
                                        <% var j = 0%>
                                        <% var FVlen = FV.length%>
                                        <% FV.forEach(FV => { %>
                                            <% j = j + 1%>
                                            
                                            
                    
                                            <% if(FV.user == User && FV.ID == BTall._id ){%>
                    
                                        <button data-id = '<%= BTall.id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' data-fv = '<%= FV._id%>'class = 'fav-btn' onclick = 'Favorite()'>♥</button>
                    
                                           <% } else if(FV.user !== User || FV.ID !== BTall._id){%>
                    
                                        <button data-id = '<%= BTall.id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' onclick = 'Favorite()'>♡</button>
                    
                                            <% } %>
                                           
                                       <% }) %>
                                   
                    
                                    <% } else {%>
                                        <button data-id = '<%= BTall.id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' onclick = 'Favorite()'>♡</button>
                    
                                        <% } %>
                    
                                    
                                    </div>
                                    </div>
                    
                                    <% } else {%>
                                        <div class = "backgroundimg">
                                            <% a = -1 %>
                                            <% picnames.forEach(picnames => { %>
                                                <% a++ %>
                                                <% if(picnames  == BTall.src){ %>
                                                    <img src = '<%= urls[a] %>'>
                                                    <% } %>
                                          <%  }) %>
                             
                                <div class = "overlay-text">
                                </a>
                               
                                    <button class = 'play-btn' id = 'Play_<%= x%>' onclick = 'Play()' data-doc = '<%= BTall.id%>' >&#9654;</button>
                                    <% if(FV.length > 0) {%>
                                        <% var k = 0%>
                                        <% var FVlen = FV.length%>
                                        <% FV.forEach(FV => { %>
                                            <% k++%>
                                            <% if(FV.user == User && FV.ID == BTall._id){%>
                    
                                        <button data-id = '<%= BTall.id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' data-fv = '<%= FV._id%>'class = 'fav-btn' onclick = 'Favorite()'>♥</button>
                    
                                           <% } else if(k == FVlen){%>
                    
                                        <button data-id = '<%= BTall.id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' onclick = 'Favorite()'>♡</button>
                    
                                            <% } %>
                                           
                                       <% }) %>
                                   
                    
                                    <% } else {%>
                                        <button data-id = '<%= BTall.id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' onclick = 'Favorite()'>♡</button>
                    
                                        <% } %>
                                    
                    
                                </div>
                                </div>
                             
                                <% } %>
                                <a href = '/beats/<%= BTall._id %>' class = 'woms'>
                                <% if(BTall.tag1 == ''){ %>
                        
                                </div>
                        
                            
                            
                              <% } %>
                                <%if(BTall.tag1 !== ''){ %>
                                    <div class = "SearchTags flexContainer"><!--TAGS-->
                                        <div class = "SkyBlue <%= BTall.tag1 %>Tag LilDurk" title = "Tag">
                                            <ul>
                                                <li class = "TagName"><%= BTall.tag1 %></li>
                                            </ul>
                                        </div>
                                    
                               <% if(BTall.tag2 == ''){ %>
                               
                                    </div>
                                
                                </div>
                            
                            
                                <% } %>
                             <% } %>
                                
                             <%if(BTall.tag2 !== ''){ %>
                                
                                    <div class = "SkyBlue <%= BTall.tag2 %>Tag LilDurk" title = "Tag">
                                        <ul>
                                            <li class = "TagName"><%= BTall.tag2 %></li>
                                        </ul>
                                    </div>
                               
                                    <% if(BTall.tag3 == ''){ %>
                                  
                                    </div>
                            
                                </div>
                            
                            
                                    <% } %>
                                    <% } %>
                                <%if(BTall.tag3 !== ''){ %>
                                  
                                        <div class = "SkyBlue <%= BTall.tag3 %>Tag LilDurk" title = "Tag">
                                            <ul>
                                                <li class = "TagName"><%= BTall.tag3 %></li>
                                            </ul>
                                        </div>
                                        </div>
                                    
                                
                        
                                </div>
                            
                            <% } %>
                            <div class = 'AddList'>
                        <span class = 'beatname'><%= BTall.beatname%>  </span>
                        </div>
                        <div class = 'leftaligner spaup'>
                        <span class = 'price'>  $<%= BTall.pob.toFixed(2) %></span>
                        <span class = 'BPM'><%= BTall.BPM%> BPM</span>
                        </div>
                    </a>
                    </div>
                        <% } %>
                        <% }) %>
                        <% } %>
                        
                </div>
            </div>
                   
  
















    </div>
  
    <div class = 'flexContainer playr' id = 'mainbottomDiv'>
        <div class = 'firstplayr'>
            <button class = 'grepri' id = 'BotDivPrice'></button>
            
        </div>
        <div class = 'midplayr'>
            <span id = 'BottomDivBeatName'></span>
            <audio controls controlslist = "nodownload" class = 'BotPlyr' id = 'MainAud'>
        </div>
        <div class = 'witplayr'>
            <div class = 'PicWithUser'>
                <a href = '' id = 'miniID'>
                    <div class = 'flexContainer'>
                        <div id = 'miniPicBack'>
                            <img id = 'miniPic'>
                        </div>
                <span id = 'userPic'></span>
                
            </div>
            </a>
            </div>
            
        </div>
    
    </div>









        </div>









        <script src = '/js/Beats.js'></script>
</body>
</html>