<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Beat | SoundMixerz</title>
    <link rel = "stylesheet" href = "/css/Report.css">
    <link rel="icon" href="/Images/SoundMixerzLogoBlue.jpg" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/regions.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <%- include("../Partials/Seller.ejs") %>
    <div class = "products">
        <%- include("../Partials/MailBox.ejs") %>
        <%- include('../Partials/NotLogged.ejs')%>
        <div id = 'ReportedBeatDIV' class = 'aligner'>
            <p>Successfully Reported Beat!</p>
        </div>
        <div id = 'RepHead' class = 'aligner'>
            <h1>Report Beat</h1>
        </div>


<div id = 'checkout'>
    <div id = 'RepBeatHold'>
        <a href = '/beats/<%= BT._id %>' class = 'woms'>
            <% if(BT.tag3 !== ''){ %>
            <div id = 'Beat_0'class = "audioContainer zeroToOneMin <%= BT.tag1 %> <%= BT.tag2 %> <%=BT.tag3 %>" >
          <%  } else if(BT.tag2 !== ''){%>
            <div id = 'Beat_0'class = "audioContainer zeroToOneMin <%= BT.tag1 %> <%= BT.tag2 %>">
            
            <% } else if(BT.tag1 !== ''){ %>
                <div id = 'Beat_0'class = "audioContainer zeroToOneMin <%= BT.tag1 %>">
          <%  } else {%>
            <div id = 'Beat_0'class = "audioContainer zeroToOneMin NOTAGS">
            <% } %>
                <div class = 'aligner'>
                    
                    <p class = 'username'><%= BT.username %></p>
                
        
                        
                
                    <% if(BT.src == 'NoImg.jpg'){ %>
                        <div class = "backgroundimg">
                        <img src = '/Images/<%= BT.src %>'>
                        <div class = "overlay-text">
                        </a>
                       
                        <% if(FV.length > 0) {%>
                            <% var j = 0%>
                            <% var FVlen = FV.length%>
                            <% FV.forEach(FV => { %>
                                <% j = j + 1%>
                                
                                
        
                                <% if(FV.user == User && FV.ID == BT._id ){%>
        
                           
        
                               <% } else if(FV.user !== User || FV.ID !== BT._id){%>
        
                          
        
                                <% } %>
                               
                           <% }) %>
                       
        
                        <% } else {%>
                            
        
                            <% } %>
        
                        
                        </div>
                        </div>
        
                        <% } else {%>
                            <div class = "backgroundimg">
                    <img src = '/BeatsUploaded/<%= BT.src %>'>
                    <div class = "overlay-text">
                    </a>
                   
              
                        <% if(FV.length > 0) {%>
                            <% var k = 0%>
                            <% var FVlen = FV.length%>
                            <% FV.forEach(FV => { %>
                                <% k++%>
                                <% if(FV.user == User && FV.ID == BT._id){%>
        
                          
        
                               <% } else if(k == FVlen){%>
        
                          
        
                                <% } %>
                               
                           <% }) %>
                       
        
                        <% } else {%>
                          
        
                            <% } %>
                        
        
                    </div>
                    </div>
                 
                    <% } %>
                    <a href = '/beats/<%= BT._id %>' class = 'woms'>
                    <% if(BT.tag1 == ''){ %>
            
                    </div>
            
                
                
                  <% } %>
                    <%if(BT.tag1 !== ''){ %>
                        <div class = "SearchTags flexContainer"><!--TAGS-->
                            <div class = "SkyBlue <%= BT.tag1 %>Tag LilDurk" title = "Tag">
                                <ul>
                                    <li class = "TagName"><%= BT.tag1 %></li>
                                </ul>
                            </div>
                        
                   <% if(BT.tag2 == ''){ %>
                   
                        </div>
                    
                    </div>
                
                
                    <% } %>
                 <% } %>
                    
                 <%if(BT.tag2 !== ''){ %>
                    
                        <div class = "SkyBlue <%= BT.tag2 %>Tag LilDurk" title = "Tag">
                            <ul>
                                <li class = "TagName"><%= BT.tag2 %></li>
                            </ul>
                        </div>
                   
                        <% if(BT.tag3 == ''){ %>
                      
                        </div>
                
                    </div>
                
                
                        <% } %>
                        <% } %>
                    <%if(BT.tag3 !== ''){ %>
                      
                            <div class = "SkyBlue <%= BT.tag3 %>Tag LilDurk" title = "Tag">
                                <ul>
                                    <li class = "TagName"><%= BT.tag3 %></li>
                                </ul>
                            </div>
                            </div>
                        
                    
            
                    </div>
                
                <% } %>
                <div class = 'aligner'>
                    <span class = 'beatname'><%= BT.beatname%>  </span>
                
                    <div class = 'leftaligner spaup'>
                    <span class = 'price'>  $<%= BT.pob.toFixed(2) %></span>
                    <span class = 'BPM'><%= BT.BPM%> BPM</span>
                    </div>

                </a>
        </div>
    </div>


    <div id = 'ReportBeatFormCon'>
        <div class = 'lefter'>
        <h2>Reason</h2>
        <form id = 'ReportBeatForm'>
        <input type = 'radio' name = 'reason' value = 'Innapropriate Image/Cover' class = 'RepRadios'>Innapropriate Image/Cover
        <br>
        <br>
        <input type = 'radio' name = 'reason' value = 'Innapropriate Beat Name' class = 'RepRadios'>Innapropriate Beat Name
        <br>
        <br>
        <input type = 'radio' name = 'reason' value = 'Innapropriate Description' class = 'RepRadios'>Innapropriate Description
        <br>
        <br>
        <input type = 'radio' name = 'reason' value = 'Innapropriate Audio' class = 'RepRadios'>Innapropriate Audio
        <br>
        <br>
        <input type = 'radio' name = 'reason' value = 'Other' class = 'RepRadios'>Other
        <br>
        <br>
    </div>
    <div class = 'lefter' id = 'EXTRACON'>
        <h2 class = 'inline'>Extra Context</h2><span> (Optional)</span>
        <br>
        <textarea id = 'ExtContext' name = 'ExtContext' rows = '7' cols = '65' placeholder = 'Description Goes Here...'></textarea>
        <br>
        <br>
        <input class = 'hiddeninp' value = '<%= BT._id %>' type = 'text' name = 'BTid'>
    </div>
    <div class = 'aligner'>
        <button  id = 'reportButton'>Submit Report</button>
    </form>
    </div>
    </div>







        <script src = '/js/report.js'></script>
</body>
</html>