<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundMixerz | Beats</title>
    
    <link rel = "stylesheet" href = "css/beats.css">
    <link rel="icon" href="/Images/SoundMixerzLogoBlue.jpg" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css">
    <style>
        :root {
            --plyr-color-main: #121212; /*progress bar color */
            --plyr-control-background: #555;
            --plyr-control-hover: #777;
            --plyr-control-active: #aaa;
            --plyr-progress-background: purple;
            --plyr-progress-buffer: #888;
            --plyr-volume-background: #999;
            --plyr-volume-bar: #00ff00;
            --plyr-volume-icon: #fff;
            --plyr-play-progress-color: #0000ff;
        }
    </style>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <%- include("../Partials/Seller.ejs") %>

    <div class = "products">
        <%- include("../Partials/MailBox.ejs") %>
        <div id = 'sucfavbeat'>
            <div id = 'spantxt'>
            <span id = 'favp' class = 'FavBeattxt'>Favorited Beat!</span>
        </div>
        </div>
        <%- include('../Partials/NotLogged.ejs')%>
        <div id = 'customContextMenu'>
            <p>hi</p>
        </div>
        <div class = "BeatSecHeader" id = "BeatSecHeader">
            <h1 id = "BeatHeader">Beats</h1>
        </div>
        
        

        <div class = "requestBeat">
            <fieldset id = "SellBeatContainer">
                <h2>Sell Your Own Beat</h2>
                <div id = 'dissapear'>
                <p>Sell Your Own Beat onto SoundMixerz.com and Make Money and a Name For Yourself as a Producer</p>
                <a href = '/Sellingform' id = 'gotoSB'>
            <button id = "SellBeat" title = "Sell Your Own Beat">Sell Beat</button>
        </a>
            </div>
        </div>
      
        
        <div id = 'TopBeats' class = 'TopBeats'>
            <div class = 'header'>
            <h3>Top 5 Trending Beats</h3>
        </div>

       
          
   


<% IDtrack1 = Count[0].count %>
<% name1 = Count[0]._id %>


<% IDtrack2 = Count[1].count %>
<% name2 = Count[1]._id %>



<% IDtrack3 = Count[2].count %>
<% name3 = Count[2]._id %>


<% IDtrack4 = Count[3].count %>
<% name4 = Count[3]._id %>



<% IDtrack5 = Count[4].count %>
<% name5 = Count[4]._id %>



          

      



            

            

<!--TRENDING BEAT NUMBER 1! -->
        
                <% if(BTs.length > 0){ %>
                    <% var y = 0%>
                <% BTs.forEach(BTs => { %>
                   
                    <% if(BTs._id == name1){%>
                    <fieldset class = 'likeLeaderboardfirst flexContainer'>
                        <fieldset class = 'likesectfirs aligner' id = 'PosNum'>
                            <p class = 'PosNumtxt'>#1</p>
                            </fieldset>

                            <fieldset class = 'likesect aligner flexContainer' id = 'Imglead'>
                                <a href = '/beats/<%= BTs._id %>' class = 'leada'>
                                    <div class = 'flexContainer'>
                                        
                                        <% if(BTs.src == 'NoImg.jpg') {%>
                                            <div class = 'LeadPicBack'>
                                                <img class = 'LeadPic'src = '/Images/<%= BTs.src %>'>
                                            </div>
                                           
                                    <span class = 'Producertxt'><%= BTs.username%></span>
                              
                                <% } else {%>
                                    <div class = 'LeadPicBack'>
                                    <img class = 'LeadPic'src = '/BeatsUploaded/<%= BTs.src %>'>
                                    </div>
                                    <span class = 'Producertxt'><%= BTs.username%></span>
                                    <% } %>
                            </div>
                            </a>
                                </fieldset>

                                <fieldset class = 'likesect aligner' id = 'Essen'>
                                    <a href = '/beats/<%= BTs._id %>' class = 'leada'>
                                    <div class = 'topalin flexContainer'>
                                        <div class = 'leadprice'>
                                    <span class = 'greprice'>$<%= BTs.pob.toFixed(2)%></span>
                                </div>
                                <div class = 'leadBeatName'>
                                    <span class = 'BeatNameLead'><%= BTs.beatname%></span>
                                </div>
                                    <div class = 'leadBPM'>
                                    <span class = 'BPMLead'><%= BTs.BPM%> BPM</span>
                                    </div>
                                </div>
                                </a>
                                    </fieldset>


                                    <fieldset class = 'likesectlast aligner' id = 'NumOfLike'>
                                        <div class = 'flexContainer leftspa'>
                                        <p class = 'NumOfLikestxt'><%= IDtrack1%></p>
                                        <img src = '/Images/heart iconpink.jpg' class = 'smolheart'>
                                    </div>
                                        </fieldset>

                    </fieldset>


                    
                    
                    <% } %>
                <%  }) %>
                <% } %>
            


                <% if(BTs.length > 0){ %>
                    <% var y = 0%>
                <% BTs.forEach(BTs => { %>
                   
                    <% if(BTs._id == name2){%>
                        
                    <fieldset class = 'likeLeaderboardmid flexContainer'>
                        <fieldset class = 'likesectfirs aligner' id = 'PosNum'>
                            <p class = 'PosNumtxt'>#2</p>
                            </fieldset>

                            <fieldset class = 'likesect aligner flexContainer' id = 'Imglead'>
                                <a href = '/beats/<%= BTs._id %>' class = 'leada'>
                                    <div class = 'flexContainer'>
                                        <% if(BTs.src == 'NoImg.jpg') {%>
                                            <div class = 'LeadPicBack'>
                                                <img class = 'LeadPic'src = '/Images/<%= BTs.src %>'>
                                            </div>
                                    <span class = 'Producertxt'><%= BTs.username%></span>
                              
                                <% } else {%>
                                    <div class = 'LeadPicBack'>
                                        <img class = 'LeadPic'src = '/BeatsUploaded/<%= BTs.src %>'>
                                        </div>
                                    <span class = 'Producertxt'><%= BTs.username%></span>
                                    <% } %>
                            </div>
                            </a>
                                </fieldset>

                                <fieldset class = 'likesect aligner' id = 'Essen'>
                                    <a href = '/beats/<%= BTs._id %>' class = 'leada'>
                                    <div class = 'topalin flexContainer'>
                                        <div class = 'leadprice'>
                                    <span class = 'greprice'>$<%= BTs.pob.toFixed(2)%></span>
                                </div>
                                <div class = 'leadBeatName'>
                                    <span class = 'BeatNameLead'><%= BTs.beatname%></span>
                                </div>
                                    <div class = 'leadBPM'>
                                    <span class = 'BPMLead'><%= BTs.BPM%> BPM</span>
                                    </div>
                                </div>
                                </a>
                                    </fieldset>


                                    <fieldset class = 'likesectlast aligner' id = 'NumOfLike'>
                                        <div class = 'flexContainer leftspa'>
                                        <p class = 'NumOfLikestxt'><%= IDtrack2%></p>
                                        <img src = '/Images/heart iconpink.jpg' class = 'smolheart'>
                                    </div>
                                        </fieldset>

                    </fieldset>


                    
                    
                    <% } %>
                <%  }) %>
                <% } %>




                <% if(BTs.length > 0){ %>
                    <% var y = 0%>
                <% BTs.forEach(BTs => { %>
                   
                    <% if(BTs._id == name3){%>
                        
                    <fieldset class = 'likeLeaderboardmid flexContainer'>
                        <fieldset class = 'likesectfirs aligner' id = 'PosNum'>
                            <p class = 'PosNumtxt'>#3</p>
                            </fieldset>

                            <fieldset class = 'likesect aligner flexContainer' id = 'Imglead'>
                                <a href = '/beats/<%= BTs._id %>' class = 'leada'>
                                    <div class = 'flexContainer'>
                                        <% if(BTs.src == 'NoImg.jpg') {%>
                                            <div class = 'LeadPicBack'>
                                                <img class = 'LeadPic'src = '/Images/<%= BTs.src %>'>
                                            </div>
                                    <span class = 'Producertxt'><%= BTs.username%></span>
                              
                                <% } else {%>
                                    <div class = 'LeadPicBack'>
                                        <img class = 'LeadPic'src = '/BeatsUploaded/<%= BTs.src %>'>
                                        </div>
                                    <span class = 'Producertxt'><%= BTs.username%></span>
                                    <% } %>
                            </div>
                            </a>
                                </fieldset>

                                <fieldset class = 'likesect aligner' id = 'Essen'>
                                    <a href = '/beats/<%= BTs._id %>' class = 'leada'>
                                    <div class = 'topalin flexContainer'>
                                        <div class = 'leadprice'>
                                    <span class = 'greprice'>$<%= BTs.pob.toFixed(2)%></span>
                                </div>
                                <div class = 'leadBeatName'>
                                    <span class = 'BeatNameLead'><%= BTs.beatname%></span>
                                </div>
                                    <div class = 'leadBPM'>
                                    <span class = 'BPMLead'><%= BTs.BPM%> BPM</span>
                                    </div>
                                </div>
                                </a>
                                    </fieldset>


                                    <fieldset class = 'likesectlast aligner' id = 'NumOfLike'>
                                        <div class = 'flexContainer leftspa'>
                                        <p class = 'NumOfLikestxt'><%= IDtrack3%></p>
                                        <img src = '/Images/heart iconpink.jpg' class = 'smolheart'>
                                    </div>
                                        </fieldset>

                    </fieldset>


                    
                    
                    <% } %>
                <%  }) %>
                <% } %>
            

                <% if(BTs.length > 0){ %>
                    <% var y = 0%>
                <% BTs.forEach(BTs => { %>
                   
                    <% if(BTs._id == name4){%>
                        
                    <fieldset class = 'likeLeaderboardmid flexContainer'>
                        <fieldset class = 'likesectfirs aligner' id = 'PosNum'>
                            <p class = 'PosNumtxt'>#4</p>
                            </fieldset>

                            <fieldset class = 'likesect aligner flexContainer' id = 'Imglead'>
                                <a href = '/beats/<%= BTs._id %>' class = 'leada'>
                                    <div class = 'flexContainer'>
                                        <% if(BTs.src == 'NoImg.jpg') {%>
                                            <div class = 'LeadPicBack'>
                                                <img class = 'LeadPic'src = '/Images/<%= BTs.src %>'>
                                            </div>
                                    <span class = 'Producertxt'><%= BTs.username%></span>
                              
                                <% } else {%>
                                    <div class = 'LeadPicBack'>
                                        <img class = 'LeadPic'src = '/BeatsUploaded/<%= BTs.src %>'>
                                        </div>
                                    <span class = 'Producertxt'><%= BTs.username%></span>
                                    <% } %>
                            </div>
                            </a>
                                </fieldset>

                                <fieldset class = 'likesect aligner' id = 'Essen'>
                                    <a href = '/beats/<%= BTs._id %>' class = 'leada'>
                                    <div class = 'topalin flexContainer'>
                                        <div class = 'leadprice'>
                                    <span class = 'greprice'>$<%= BTs.pob.toFixed(2)%></span>
                                </div>
                                <div class = 'leadBeatName'>
                                    <span class = 'BeatNameLead'><%= BTs.beatname%></span>
                                </div>
                                    <div class = 'leadBPM'>
                                    <span class = 'BPMLead'><%= BTs.BPM%> BPM</span>
                                    </div>
                                </div>
                                </a>
                                    </fieldset>


                                    <fieldset class = 'likesectlast aligner' id = 'NumOfLike'>
                                        <div class = 'flexContainer leftspa'>
                                        <p class = 'NumOfLikestxt'><%= IDtrack4%></p>
                                        <img src = '/Images/heart iconpink.jpg' class = 'smolheart'>
                                    </div>
                                        </fieldset>

                    </fieldset>


                    
                    
                    <% } %>
                <%  }) %>
                <% } %>
 
                <% if(BTs.length > 0){ %>
                    <% var y = 0%>
                <% BTs.forEach(BTs => { %>
                   
                    <% if(BTs._id == name5){%>
                        
                    <fieldset class = 'likeLeaderboardlast flexContainer'>
                        <fieldset class = 'likesectfirs aligner' id = 'PosNum'>
                            <p class = 'PosNumtxt'>#5</p>
                            </fieldset>

                            <fieldset class = 'likesect aligner flexContainer' id = 'Imglead'>
                                <a href = '/beats/<%= BTs._id %>' class = 'leada'>
                                    <div class = 'flexContainer'>
                                        <% if(BTs.src == 'NoImg.jpg') {%>
                                            <div class = 'LeadPicBack'>
                                                <img class = 'LeadPic'src = '/Images/<%= BTs.src %>'>
                                            </div>
                                    <span class = 'Producertxt'><%= BTs.username%></span>
                              
                                <% } else {%>
                                    <div class = 'LeadPicBack'>
                                        <img class = 'LeadPic'src = '/BeatsUploaded/<%= BTs.src %>'>
                                        </div>
                                    <span class = 'Producertxt'><%= BTs.username%></span>
                                    <% } %>
                            </div>
                            </a>
                                </fieldset>

                                <fieldset class = 'likesect aligner' id = 'Essen'>
                                    <a href = '/beats/<%= BTs._id %>' class = 'leada'>
                                    <div class = 'topalin flexContainer'>
                                        
                                        <div class = 'leadprice'>
                                    <span class = 'greprice'>$<%= BTs.pob.toFixed(2)%></span>
                                </div>
                                <div class = 'leadBeatName'>
                                    <span class = 'BeatNameLead'><%= BTs.beatname%></span>
                                </div>
                                    <div class = 'leadBPM'>
                                    <span class = 'BPMLead'><%= BTs.BPM%> BPM</span>
                                    </div>
                                </div>
                                </a>
                                    </fieldset>


                                    <fieldset class = 'likesectlast aligner' id = 'NumOfLike'>
                                        <div class = 'flexContainer leftspa'>
                                        <p class = 'NumOfLikestxt'><%= IDtrack5%></p>
                                        <img src = '/Images/heart iconpink.jpg' class = 'smolheart'>
                                    </div>
                                        </fieldset>

                    </fieldset>


                    
                    
                    <% } %>
                <%  }) %>
                <% } %>

        </div>


      

        
        <div id = 'divBeatHolder'>
        <div class = "zerooneminbeats section" id = 'zerooneminbeats'><!--ZERO SECOND TO ONE MINUTE BEATS-->
        
        <br>
        
        

<fieldset class = "beatborder flexContainer" id = 'ZOfield'>
    <div class = "filterContainer" id = "filterContainer"><!--FILTER SEARCH BUTTON-->
        <label for = "filterButton" id = "filterlabel" title = "Filter Search">Filter</label>
        <button class = "fa fa-filter" id = "filterButton" title = "Filter Search" ></button>
        </div>
        
        
        
        

        <div class = "FilterDiv hide" id = "FilterDiv">
            <button id = "closeButton">X</button>
            <h3>Search Specific Beats!</h3>
            <br>
            <div class = 'FilterSearchButtons'>
                <button id = 'TagSearchButton' class = 'SearchButton' >Tags</button>
                <button id = 'PriceSearchButton' class = 'SearchButton' >Price</button>
                <button id = 'UsernameSearchButton' class = 'SearchButton' >Username</button>
                <button id = 'FavsButton' class = 'SearchButton'>Favorites</button>

            </div>
            <br>
            <div id = searchfiltertagcon>
            <fieldset class = 'lightfield'>
            <p class = "filterDivHeadings">Mood/Genre Tags</p>
            <button class = "white"  id = "PumpedUp">Pumped Up</button>
            <button class = "white"  id = "Sad">Sad</button>
            <button class = "white"  id = "Chill">Chill</button>
            <button class = "white"  id = "LoFi">Lo-Fi</button>
            <button class = "white" id = "DubStep">DubStep</button>
            <button class = "white"  id = "HipHop">Hip-Hop</button>
            <button class = "white"  id = "RandB">R&B</button>
            <button class = "white"  id = "Indie">Indie</button>
            <button class = "white"  id = "Slow">Slow</button>
            <button class = "white"  id = "Fast">Fast</button>
            <button class = "white"  id = "Piano">Piano</button>
            <button class = "white"  id = "Guitar">Guitar</button>
            <button class = "white"  id = "ElectricGuitar">Electric Guitar</button>
            <button class = "white"  id = "Drill">Drill</button>
            <br>
            <br>
            <p id = "NumSelectedTags">Selected Tags (0)</p>
        </fieldset>
        <button class = "filterSubmitButton"  title = "Search" id = 'TagsSearchButton'>Search</button>
        </div>
            <br>
            <div class = 'pricesort hide' id = 'pricesort'>
                <fieldset class = 'lightfield'>
                <div class = 'alignerr'>
                <p class = 'filterDivHeadings'>Beat Price Range</p>
            </div>
                <br>
                <form action = '/beatsearch' method = 'get'>
                <div class = 'priceinpDIV flexContainer'>
                    <div class = 'minprice'>
                    <label class = 'minmax' for = 'min'><strong>Minimum</strong></label>
                    <br>
                    
                    <input type = 'number' class = 'priceinp' name = 'min' id = 'min'placeholder="Min">
                    <p class = 'inline'>- </p>
                </div>
                    <div class = 'maxprice'>
                    <label class = 'minmax' for = 'max'><strong>Maximum</strong></label>
                    <br>
                    <input type = 'number' class = 'priceinp' name = 'max' id = 'max'placeholder="Max"> 
                </div>
                    <br>
                    <br>
                    <br>
            </div>
         
        </fieldset>
        <a href = '/beatsearch?page=<%= current %>' id = 'nonpad'><button class = "filterSubmitButton"  title = "Search" id = 'Sprice'>Search</button></a>
    </form>
            </div>
            <div id = 'UserSearch' class = 'hide'>
                <form action = '/BeatUserSearch' method = 'get'>
                <fieldset class = 'lightfield'>
                    <p class = 'filterDivHeadings'>Username Search</p>
                    <br>
                    <br>
                    <div class = 'usernameSinput lefty'>
                        
                        <label for = 'Susername'>Enter Here:</label>
                        <br>
                        <input type = 'text' name = 'username' id = 'Susername' placeholder = 'Username'>
                        <br>
                        <br>
                    </div>
                </fieldset>
                <a href = '/BeatUserSearch' id = 'nonpad'><button class = "filterSubmitButton"  title = "Search" id = 'UserSButton'>Search</button></a>
                </form>
            </div>
            <div id = 'FavSearch' class = 'hide aligner'>
                <form action = '/MyFavsSearch' method = 'get'>
                
                <a href = '/MyFavsSearch' id = 'nonpad'><button class = "FavSubBut"  title = "Search" id = 'UserSButton'>Show My Favorites</button></a>
                </form>
            </div>
            <br>
           
        
            </div>
    <div id = "nothingToSeeHere" class = "nothingToSeeHere">
        <h1>No Beats Found..</h1>
        </div>
        <% if(Favs !== undefined){%>
            
            <% if(BT.length > 0){ %>
                <% var x = -1%>
                <% var z = 0 %>
                <% var k = 0 %>
                <% var len = FV.length %>
            <% FV.forEach(FV => { %>
                <% k++%>
                <% if(FV.user == User){ %>
                <% BT.forEach(BT => { %>
                    <% if(BT._id == FV.ID) {%>
                    <% x++%>
                    <% z++ %>
                    <a href = '/beats/<%= BT._id %>' class = 'woms'>
                    <% if(BT.tag3 !== ''){ %>
                    <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %> <%= BT.tag2 %> <%=BT.tag3 %>" >
                  <%  } else if(BT.tag2 !== ''){%>
                    <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %> <%= BT.tag2 %>">
                    
                    <% } else if(BT.tag1 !== ''){ %>
                        <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %>">
                  <%  } else {%>
                    <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin NOTAGS">
                    <% } %>
                        <div class = 'aligner'>
                            <p class = 'username'><%= BT.username %></p>
                           
                        
                
                                
                        
                            <% if(BT.src == 'NoImg.jpg'){ %>
                                <div class = "backgroundimg">
                                <img src = '/Images/<%= BT.src %>'>
                                <div class = "overlay-text">
                                </a>
                                <button class = 'play-btn' id = 'Play_<%= x%>'  data-doc = '<%= BT._id%>'>&#9654;</button>
                              
                                   
                                     
                                        
                                        
                
                                        <% if(FV.user == User && FV.ID == BT._id ){%>
                
                                    <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' data-fv = '<%= FV._id%>'class = 'fav-btn' >♥</button>
                
                                       <% } else {%>
                
                                    <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>
                
                                        <% } %>
                                       
                                  
                               
                
                               
                                
                
                                  
                
                                
                                </div>
                                </div>
                
                                <% } else {%>
                                    <div class = "backgroundimg">
                            <img src = '/BeatsUploaded/<%= BT.src %>'>
                            <div class = "overlay-text">
                            </a>
                           
                                <button class = 'play-btn' id = 'Play_<%= x%>'  data-doc = '<%= BT._id%>' >&#9654;</button>
                                <% if(FV.user == User && FV.ID == BT._id ){%>
                
                                    <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' data-fv = '<%= FV._id%>'class = 'fav-btn' >♥</button>
                
                                       <% } else {%>
                
                                    <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>
                
                                        <% } %>
                                
                
                            </div>
                            </div>
                         
                            <% } %>
                            <a href = '/beats/<%= BT._id %>' class = 'woms'>
                            <% if(BT.tag1 == ''){ %>
                    
                            </div>
                    
                        
                        
                          <% } %>
                            <%if(BT.tag1 !== ''){ %>
                                <div class = "SearchTags flexContainer"><!--TAGS-->
                                    <div class = "SkyBlue <%= BT.tag1 %>Tag LilDurk" title = "Tag">
                                        <ul>
                                            <li class = "TagName"><%= BT.tag1 %></li>
                                        </ul>
                                    </div>
                                
                           <% if(BT.tag2 == ''){ %>
                           
                                </div>
                            
                            </div>
                        
                        
                            <% } %>
                         <% } %>
                            
                         <%if(BT.tag2 !== ''){ %>
                            
                                <div class = "SkyBlue <%= BT.tag2 %>Tag LilDurk" title = "Tag">
                                    <ul>
                                        <li class = "TagName"><%= BT.tag2 %></li>
                                    </ul>
                                </div>
                           
                                <% if(BT.tag3 == ''){ %>
                              
                                </div>
                        
                            </div>
                        
                        
                                <% } %>
                                <% } %>
                            <%if(BT.tag3 !== ''){ %>
                              
                                    <div class = "SkyBlue <%= BT.tag3 %>Tag LilDurk" title = "Tag">
                                        <ul>
                                            <li class = "TagName"><%= BT.tag3 %></li>
                                        </ul>
                                    </div>
                                    </div>
                                
                            
                    
                            </div>
                        
                        <% } %>
                        <div class = 'AddList'>
                    <p class = 'beatname'><%= BT.beatname%>  </p>
                    </div>
                    <div class = 'leftaligner spaup'>
                        <span class = 'price'>  $<%= BT.pob.toFixed(2) %></span>
                        <span class = 'BPM'><%= BT.BPM%> BPM</span>
                        </div>
                </a>
                </div>
                    
                    <% } %>
                <%  }) %>
        <% } else if(z == 0 && k == len){ %>
            <div class = 'aligner' id = 'center'>
            <h1>You Have No Favorites...</h1>
        </div>
            <% } %>
        
            <% }) %>
    <% } %>
    <% } %>



        <%if(Susername !== undefined){%>
            
                <% if(BT.length > 0){ %>
                    <% var x = -1%>
                    <% var z = 0 %>
                    <% var d = 0%>
                    <% var len = BT.length%>
                    <% console.log("LENGTH: " + len) %>
                    <% BT.forEach(BT => { %>
                        <% d++ %>
                  

                        <% %>
                        <% if(BT.username == Susername){%>
                        <% x++%>
                        <% z++ %>
                        <a href = '/beats/<%= BT._id %>' class = 'woms'>
                        <% if(BT.tag3 !== ''){ %>
                        <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %> <%= BT.tag2 %> <%=BT.tag3 %>" >
                      <%  } else if(BT.tag2 !== ''){%>
                        <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %> <%= BT.tag2 %>">
                        
                        <% } else if(BT.tag1 !== ''){ %>
                            <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %>">
                      <%  } else {%>
                        <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin NOTAGS">
                        <% } %>
                            <div class = 'aligner'>
                                <p class = 'username'><%= BT.username %></p>
                               
                            
                    
                                    
                            
                                <% if(BT.src == 'NoImg.jpg'){ %>
                                    <div class = "backgroundimg">
                                    <img src = '/Images/<%= BT.src %>'>
                                    <div class = "overlay-text">
                                    </a>
                                    <button class = 'play-btn' id = 'Play_<%= x%>'  data-doc = '<%= BT._id%>'>&#9654;</button>
                                    <% if(FV.length > 0) {%>
                                        <% var j = 0%>
                                        <% var FVlen = FV.length%>
                                        <% FV.forEach(FV => { %>
                                            <% j = j + 1%>
                                            
                                            
                    
                                            <% if(FV.user == User && FV.ID == BT._id ){%>
                    
                                        <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' data-fv = '<%= FV._id%>'class = 'fav-btn' >♥</button>
                    
                                           <% } else if(j == FVlen){%>
                    
                                        <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>
                    
                                            <% } %>
                                           
                                       <% }) %>
                                   
                    
                                    <% } else {%>
                                        <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>
                    
                                        <% } %>
                    
                                    
                                    </div>
                                    </div>
                    
                                    <% } else {%>
                                        <div class = "backgroundimg">
                                <img src = '/BeatsUploaded/<%= BT.src %>'>
                                <div class = "overlay-text">
                                </a>
                               
                                    <button class = 'play-btn' id = 'Play_<%= x%>'  data-doc = '<%= BT._id%>' >&#9654;</button>
                                    <% if(FV.length > 0) {%>
                                        <% var k = 0%>
                                        <% var FVlen = FV.length%>
                                        <% FV.forEach(FV => { %>
                                            <% k++%>
                                            <% if(FV.user == User && FV.ID == BT._id ){%>
                    
                                        <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' data-fv = '<%= FV._id%>'class = 'fav-btn' >♥</button>
                    
                                           <% } else if(k == FVlen){%>
                    
                                        <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>
                    
                                            <% } %>
                                           
                                       <% }) %>
                                   
                    
                                    <% } else {%>
                                        <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>
                    
                                        <% } %>
                                    
                    
                                </div>
                                </div>
                             
                                <% } %>
                                <a href = '/beats/<%= BT._id %>' class = 'woms'>
                                <% if(BT.tag1 == ''){ %>
                        
                                </div>
                        
                            
                            
                              <% } %>
                                <%if(BT.tag1 !== ''){ %>
                                    <div class = "SearchTags flexContainer"><!--TAGS-->
                                        <div class = "SkyBlue <%= BT.tag1 %>Tag LilDurk" title = "Tag">
                                            <ul>
                                                <li class = "TagName"><%= BT.tag1 %></li>
                                            </ul>
                                        </div>
                                    
                               <% if(BT.tag2 == ''){ %>
                               
                                    </div>
                                
                                </div>
                            
                            
                                <% } %>
                             <% } %>
                                
                             <%if(BT.tag2 !== ''){ %>
                                
                                    <div class = "SkyBlue <%= BT.tag2 %>Tag LilDurk" title = "Tag">
                                        <ul>
                                            <li class = "TagName"><%= BT.tag2 %></li>
                                        </ul>
                                    </div>
                               
                                    <% if(BT.tag3 == ''){ %>
                                  
                                    </div>
                            
                                </div>
                            
                            
                                    <% } %>
                                    <% } %>
                                <%if(BT.tag3 !== ''){ %>
                                  
                                        <div class = "SkyBlue <%= BT.tag3 %>Tag LilDurk" title = "Tag">
                                            <ul>
                                                <li class = "TagName"><%= BT.tag3 %></li>
                                            </ul>
                                        </div>
                                        </div>
                                    
                                
                        
                                </div>
                            
                            <% } %>
                            <div class = 'AddList'>
                        <p class = 'beatname'><%= BT.beatname%>  </p>
                        </div>
                        <div class = 'leftaligner spaup'>
                            <span class = 'price'>  $<%= BT.pob.toFixed(2) %></span>
                            <span class = 'BPM'><%= BT.BPM%> BPM</span>
                            </div>
                    </a>
                    </div>
                        
                        <% } else if(z == 0 && d == len){%>
                            <div class = 'aligner' id = 'center'>
                                <h1>The User Your Searching For is Selling No Beats...</h1>
                            </div>
                            <% } %>
                    <%  }) %>
            <% } %>
            
                <% } %>
        

<% if(max == undefined && min == undefined && Susername == undefined && Favs == undefined){%>
<% if(BT.length > 0){ %>
    <% var x = -1%>
<% BT.forEach(BT => { %>
    <% x++%>
    <a href = '/beats/<%= BT._id %>' class = 'woms'>
    <% if(BT.tag3 !== ''){ %>
    <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %> <%= BT.tag2 %> <%=BT.tag3 %>" >
  <%  } else if(BT.tag2 !== ''){%>
    <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %> <%= BT.tag2 %>">
    
    <% } else if(BT.tag1 !== ''){ %>
        <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %>">
  <%  } else {%>
    <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin NOTAGS">
    <% } %>
        <div class = 'aligner'>
            <p class = 'username'><%= BT.username %></p>
           
        

                
        
            <% if(BT.src == 'NoImg.jpg'){ %>
                <div class = "backgroundimg">
                <img src = '/Images/<%= BT.src %>'>
                <div class = "overlay-text">
                </a>
                <button class = 'play-btn' id = 'Play_<%= x%>'  data-doc = '<%= BT._id%>'>&#9654;</button>
                <% if(FV.length > 0) {%>
                    <% var j = 0%>
                    <% var FVlen = FV.length%>
                    <% FV.forEach(FV => { %>
                        <% j = j + 1%>
                        
                        

                        <% if(FV.user == User && FV.ID == BT._id ){%>

                    <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' data-fv = '<%= FV._id%>'class = 'fav-btn' >♥</button>

                       <% } else if(j == FVlen){%>

                    <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>

                        <% } %>
                       
                   <% }) %>
               

                <% } else {%>
                    <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>

                    <% } %>

                
                </div>
                </div>

                <% } else {%>
                    <div class = "backgroundimg">
            <img src = '/BeatsUploaded/<%= BT.src %>'>
            <div class = "overlay-text">
            </a>
          
                <button class = 'play-btn' id = 'Play_<%= x%>' data-doc = '<%= BT._id%>' >&#9654;</button>
                <% if(FV.length > 0) {%>
                    <% var k = 0%> 
                    <% var FVlen = FV.length%>
                    <% FV.forEach(FV => { %>
                        <% k++%>
                        <% if(FV.user == User && FV.ID == BT._id){%>

                    <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' data-fv = '<%= FV._id%>'class = 'fav-btn' >♥</button>

                       <% } else if(k == FVlen){%>

                    <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>

                        <% } %>
                       
                   <% }) %>
               

                <% } else {%>
                    <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>

                    <% } %>
                

            </div>
            </div>
         
            <% } %>
            <a href = '/beats/<%= BT._id %>' class = 'woms'>
            <% if(BT.tag1 == ''){ %>
    
            </div>
    
        
        
          <% } %>
            <%if(BT.tag1 !== ''){ %>
                <div class = "SearchTags flexContainer"><!--TAGS-->
                    <div class = "SkyBlue <%= BT.tag1 %>Tag LilDurk" title = "Tag">
                        <ul>
                            <li class = "TagName"><%= BT.tag1 %></li>
                        </ul>
                    </div>
                
           <% if(BT.tag2 == ''){ %>
           
                </div>
            
            </div>
        
        
            <% } %>
         <% } %>
            
         <%if(BT.tag2 !== ''){ %>
            
                <div class = "SkyBlue <%= BT.tag2 %>Tag LilDurk" title = "Tag">
                    <ul>
                        <li class = "TagName"><%= BT.tag2 %></li>
                    </ul>
                </div>
           
                <% if(BT.tag3 == ''){ %>
              
                </div>
        
            </div>
        
        
                <% } %>
                <% } %>
            <%if(BT.tag3 !== ''){ %>
              
                    <div class = "SkyBlue <%= BT.tag3 %>Tag LilDurk" title = "Tag">
                        <ul>
                            <li class = "TagName"><%= BT.tag3 %></li>
                        </ul>
                    </div>
                    </div>
                
            
    
            </div>
        
        <% } %>
        <div class = 'AddList'>
    <span class = 'beatname'><%= BT.beatname%>  </span>
    </div>
    <div class = 'leftaligner spaup'>
    <span class = 'price'>  $<%= BT.pob.toFixed(2) %></span>
    <span class = 'BPM'><%= BT.BPM%> BPM</span>
    </div>
</a>
</div>
    
    
<%  }) %>
<% } %>

<% } else if(max !== undefined && min !== undefined){%>
   
    <% if(BT.length > 0){ %>
        <% var x = -1%>
        <% var z = 0%>
        <% var d = 0 %>
        <% var len = BT.length %>
        <% BT.forEach(BT => { %>
            <% d++ %>
            <% if(BT.pob >= min && BT.pob <= max){%>
            <% x++%>
            <% z++ %>
            <a href = '/beats/<%= BT._id %>' class = 'woms'>
            <% if(BT.tag3 !== ''){ %>
            <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %> <%= BT.tag2 %> <%=BT.tag3 %>" >
          <%  } else if(BT.tag2 !== ''){%>
            <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %> <%= BT.tag2 %>">
            
            <% } else if(BT.tag1 !== ''){ %>
                <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %>">
          <%  } else {%>
            <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin NOTAGS">
            <% } %>
                <div class = 'aligner'>
                    <p class = 'username'><%= BT.username %></p>
                   
                
        
                        
                
                    <% if(BT.src == 'NoImg.jpg'){ %>
                        <div class = "backgroundimg">
                        <img src = '/Images/<%= BT.src %>'>
                        <div class = "overlay-text">
                        </a>
                        <button class = 'play-btn' id = 'Play_<%= x%>'  data-doc = '<%= BT._id%>'>&#9654;</button>
                        <% if(FV.length > 0) {%>
                            <% var j = 0%>
                            <% var FVlen = FV.length%>
                            <% FV.forEach(FV => { %>
                                <% j = j + 1%>
                                
                                
        
                                <% if(FV.user == User && FV.ID == BT._id ){%>
        
                            <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' data-fv = '<%= FV._id%>'class = 'fav-btn' >♥</button>
        
                               <% } else if(j == FVlen){%>
        
                            <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>
        
                                <% } %>
                               
                           <% }) %>
                       
        
                        <% } else {%>
                            <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>
        
                            <% } %>
        
                        
                        </div>
                        </div>
        
                        <% } else {%>
                            <div class = "backgroundimg">
                    <img src = '/BeatsUploaded/<%= BT.src %>'>
                    <div class = "overlay-text">
                    </a>
                   
                        <button class = 'play-btn' id = 'Play_<%= x%>'  data-doc = '<%= BT._id%>' >&#9654;</button>
                        <% if(FV.length > 0) {%>
                            <% var k = 0%>
                            <% var FVlen = FV.length%>
                            <% FV.forEach(FV => { %>
                                <% k++%>
                                <% if(FV.user == User && FV.ID == BT._id ){%>
        
                            <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' data-fv = '<%= FV._id%>'class = 'fav-btn' >♥</button>
        
                               <% } else if(k == FVlen){%>
        
                            <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>
        
                                <% } %>
                               
                           <% }) %>
                       
        
                        <% } else {%>
                            <button data-id = '<%= BT._id%>' data-user = '<%= User%>'id = 'Fav_<%= x%>' class = 'fav-btn' >♡</button>
        
                            <% } %>
                        
        
                    </div>
                    </div>
                 
                    <% } %>
                    <a href = '/beats/<%= BT._id %>' class = 'woms'>
                    <% if(BT.tag1 == ''){ %>
            
                    </div>
            
                
                
                  <% } %>
                    <%if(BT.tag1 !== ''){ %>
                        <div class = "SearchTags flexContainer"><!--TAGS-->
                            <div class = "SkyBlue <%= BT.tag1 %>Tag LilDurk" title = "Tag">
                                <ul>
                                    <li class = "TagName"><%= BT.tag1 %></li>
                                </ul>
                            </div>
                        
                   <% if(BT.tag2 == ''){ %>
                   
                        </div>
                    
                    </div>
                
                
                    <% } %>
                 <% } %>
                    
                 <%if(BT.tag2 !== ''){ %>
                    
                        <div class = "SkyBlue <%= BT.tag2 %>Tag LilDurk" title = "Tag">
                            <ul>
                                <li class = "TagName"><%= BT.tag2 %></li>
                            </ul>
                        </div>
                   
                        <% if(BT.tag3 == ''){ %>
                      
                        </div>
                
                    </div>
                
                
                        <% } %>
                        <% } %>
                    <%if(BT.tag3 !== ''){ %>
                      
                            <div class = "SkyBlue <%= BT.tag3 %>Tag LilDurk" title = "Tag">
                                <ul>
                                    <li class = "TagName"><%= BT.tag3 %></li>
                                </ul>
                            </div>
                            </div>
                        
                    
            
                    </div>
                
                <% } %>
                <div class = 'AddList'>
            <p class = 'beatname'><%= BT.beatname%>  </p>
            </div>
            <div class = 'leftaligner spaup'>
                <span class = 'price'>  $<%= BT.pob.toFixed(2) %></span>
                <span class = 'BPM'><%= BT.BPM%> BPM</span>
                </div>
        </a>
        </div>
            
            <% } else if(z == 0 && d == len){%>
                <div class = 'aligner' id = 'center'>
                    <h1>The Price Range Your Searching For Contains No Beats...</h1>
                </div>
                <% } %>
        <%  }) %>
<% } %>

    <% } %>


    

</fieldset>
</div>
</div>

</fieldset>
<div class="pagination aligner flexContainer">

    <% if(Susername !== undefined) {%>
       
        <% if (current >= 1) { %>
            <a href="/BeatUserSearch?username=<%= Susername%>&page=<%= current - 1 %>" class = 'paga prevpaga'>Previous</a>
        <% } %>
        <% if (current <= 3) { %>
    
             <% for(let i = 1; i <= 5; i++) {%>
                <% if(i == current){%>
                    <a href="/BeatUserSearch?username=<%= Susername%>&page=<%= i %>" class = 'paga paganum' id = 'curr'><%= i %></a>
                    <% continue %>
                    <% }%>
                    <a href="/BeatUserSearch?username=<%= Susername%>&page=<%= i %>" class = 'paga paganum'><%= i %></a>
            <% } %>
                      
        <% } else {%>
            <%for(let i = current -2;i<= current + 2;i++) {%>
    
                <% if(i == current){%>
                    <a href="/BeatUserSearch?username=<%= Susername%>&page=<%= i %>" class = 'paga paganum' id = 'curr'><%= i %></a>
                    <% continue %>
                    <% }%>
                    <a href="/BeatUserSearch?username=<%= Susername%>&page=<%= i %>" class = 'paga paganum'><%= i %></a>
                <% } %>
            <% } %>
    
    
    
    
        <% if (current < pages) { %>
            <a href="/BeatUserSearch?username=<%= Susername%>&page=<%= current + 1 %>" class = 'paga' id = 'Nextpaga'>Next</a>
        <% } %>
    

        <% } %>

    <% if(min == undefined && max == undefined && Susername == undefined && Favs == undefined) { %>
    <% if (current >= 1) { %>
        <a href="/beats?page=<%= current - 1 %>" class = 'paga prevpaga'>Previous</a>
    <% } %>
    <% if (current <= 3) { %>

         <% for(let i = 1; i <= 5; i++) {%>
            <% if(i == current){%>
                <a href="/beats?page=<%= i %>" class = 'paga paganum' id = 'curr'><%= i %></a>
                <% continue %>
                <% }%>
                <a href="/beats?page=<%= i %>" class = 'paga paganum'><%= i %></a>
        <% } %>
                  
    <% } else {%>
        <%for(let i = current -2;i<= current + 2;i++) {%>

            <% if(i == current){%>
                <a href="/beats?page=<%= i %>" class = 'paga paganum' id = 'curr'><%= i %></a>
                <% continue %>
                <% }%>
                <a href="/beats?page=<%= i %>" class = 'paga paganum'><%= i %></a>
            <% } %>
        <% } %>




    <% if (current < pages) { %>
        <a href="/beats?page=<%= current + 1 %>" class = 'paga' id = 'Nextpaga'>Next</a>
    <% } %>

    <% } else if(max !== undefined && min !== undefined){%>
        
        <% if (current >= 1) { %>
            <a href="/beatsearch?min=<%= min%>&max=<%= max%>&page=<%= current - 1 %>" class = 'paga prevpaga'>Previous</a>
        <% } %>
        <% if (current <= 3) { %>
    
             <% for(let i = 1; i <= 5; i++) {%>
                <% if(i == current){%>
                    <a href="/beatsearch?min=<%= min%>&max=<%= max%>&page=<%= i %>" class = 'paga paganum' id = 'curr'><%= i %></a>
                    <% continue %>
                    <% }%>
                    <a href="/beatsearch?min=<%= min%>&max=<%= max%>&page=<%= i %>" class = 'paga paganum'><%= i %></a>
            <% } %>
                      
        <% } else if(max !== undefined && min !== undefined){%>
            <%for(let i = current -2;i<= current + 2;i++) {%>
    
                <% if(i == current){%>
                    <a href="/beatsearch?min=<%= min%>&max=<%= max%>&page=<%= i %>" class = 'paga paganum' id = 'curr'><%= i %></a>
                    <% continue %>
                    <% }%>
                    <a href="/beatsearch?min=<%= min%>&max=<%= max%>&page=<%= i %>" class = 'paga paganum'><%= i %></a>
                <% } %>
            <% } %>
    
    
    
    
        <% if (current < pages) { %>
            <a href="/beatsearch?min=<%= min%>&max=<%= max%>&page=<%= current + 1 %>" class = 'paga' id = 'Nextpaga'>Next</a>
        <% } %>
    

        <% } %>

</div>
    
    </div>
<div class = 'flexContainer playr' id = 'mainbottomDiv'>
    <div class = 'firstplayr'>
        <button class = 'grepri' id = 'BotDivPrice'></button>
        
    </div>
    <div class = 'midplayr'>
        <span id = 'BottomDivBeatName'></span>
        <audio controls controlslist = "nodownload" class = 'BotPlyr' id = 'MainAud'>
    </div>
    <div class = 'witplayr'>
        <div class = 'PicWithUser'>
            <a href = '' id = 'miniID'>
                <div class = 'flexContainer'>
                    <div id = 'miniPicBack'>
            <img id = 'miniPic'>
        </div>
            <span id = 'userPic'></span>
            
        </div>
        </a>
        </div>
        
    </div>

</div>
    
        
        <%- include('../Partials/footer.ejs') %>


        






















        <script src = "js/beats.js"></script>
</body>
</html>