<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundMixerz | Edit Seller-Profile</title>
    
    <link rel = "stylesheet" href = "/css/EditSellerProfile.css">
    <link rel="icon" href="/Images/SoundMixerzLogoBlue.jpg" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('../Partials/AccountTabs.ejs') %>
    <div class = "products">
        <%- include("../Partials/MailBox.ejs") %>
        <%- include('../Partials/NotLogged.ejs')%>
        <div class = 'SuccessUp' id = 'SuccessUp'>
            <p>Successfully Updated Seller Page!</p>
        </div>
        <div class = "BeatSecHeader" id = "BeatSecHeader">
        </div>
        
        

        <div class = "requestBeat">
            <fieldset id = "SellBeatContainer">
                <form id = 'myForm' enctype="multipart/form-data">
                <div class = "padup">
                  
                <span class = 'ques'>Edit Beat Image/Cover </span><span>(*WARNING The Image will be put automatically to 200px by 200px, To make the image look the best please make it as close to possible to 200px by 200px) </span>
                
                <div class = 'aligner margbot'>
                    <input type = "file" accept = "image/*" name = 'src'id = "CurrSrc" required>
                </div>
              
                <br>
                <form id = 'myForm' enctype="multipart/form-data">
                <div class = "padup">

          
                <div class = 'lefter'>
                <span class = 'ques'>Edit Beat Name </span>
                <span id = 'BNlab' class = 'hide'>(20 Characters Max)</span>
                
                <div class = 'margbot'>
                <input type = 'text' class = 'inpQues'id = 'beatnameques' name = 'beatname' placeholder = '<%= Edit.beatname%>' required>
            </div>
                
                <span class = 'ques'>Edit Price </span>
                
                <div class = 'margbot priceinpdiv'>
                <span id = 'mon'>$</span><input type = 'text' name = 'pob' id = 'priceBeatInput' placeholder="<%= Edit.pob%>" required>
            </div>


            <span class = 'ques'>Edit BPM </span>
                
                <div class = 'margbot priceinpdiv'>
                <input type = 'text' name = 'BPM' id = 'BPMinp' placeholder="<%= Edit.BPM%>" required><span id = 'mon'> BPM</span>
            </div>

           
                
                <span class = 'ques'>Edit Beat Tags</span> 
                <div class = 'margbot'>
                <p class = 'hide' id = 'tagAlrChose'>Tag is Already Chosen</p>
                <div class = 'inputtags flexinp'>
                    <input type = 'text' name = 'tag1' id = 'tag1' class = 'inputtag' <% if(Edit.tag1 !== '') {%>
                        placeholder = '<%= Edit.tag1%>'
                   <% }%> readonly>
                    <input type = 'text' name = 'tag2' id = 'tag2' class = 'inputtag' <% if(Edit.tag2 !== '') {%>
                        placeholder = '<%= Edit.tag2%>'
                   <% }%> readonly>
                    <input type = 'text' name = 'tag3' id = 'tag3' class = 'inputtag' <% if(Edit.tag3 !== '') {%>
                        placeholder = '<%= Edit.tag3%>'
                   <% }%> readonly>
                </div>
                <div id = 'tagCon'>
            <button class = "whitee" type = 'button' id = 'PumpedUp' value = 'PumpedUp' >Pumped Up</button>
            <button class = "whitee" type = 'button' id = 'Sad' value = 'Sad' >Sad</button>
            <button class = "whitee" type = 'button' id = 'Chill' value = 'Chill'  >Chill</button>
            <button class = "whitee" type = 'button' id = 'LoFi' value = 'LoFi'  >Lo-Fi</button>
            <button class = "whitee" type = 'button' id = 'DubStep' value = 'DubStep' >DubStep</button>
            <button class = "whitee" type = 'button' id = 'HipHop' value = 'HipHop'  >Hip-Hop</button>
            <button class = "whitee" type = 'button' id = 'RandB' value = 'R&B'  >R&B</button>
            <button class = "whitee" type = 'button' id = 'Indie' value = 'Indie'  >Indie</button>
            <button class = "whitee" type = 'button' id = 'Slow' value = 'Slow'  >Slow</button>
            <button class = "whitee" type = 'button' id = 'Fast' value = 'Fast'  >Fast</button>
            <button class = "whitee" type = 'button' id = 'Piano' value = 'Piano'  >Piano</button>
            <button class = "whitee" type = 'button' id = 'Guitar' value = 'Guitar'  >Guitar</button>
            <button class = "whitee" type = 'button' id = 'ElectricGuitar' value = 'Electric Guitar'  >Electric Guitar</button>
            <button class = "whitee" type = 'button' id = 'Drill' value = 'Drill' >Drill</button>
            <br>
               </div>
            </div>
               
               <label for = 'desc' class = 'ques'>Edit Description </label>
               <div class = 'margbot'>
               <textarea id = 'desc' name = 'description' rows = '7' cols = '65' placeholder = '<%= Edit.description%>'></textarea>
            </div>
            </div>
            <input type = 'text' name = 'src' value = 'NoImg' class = 'hiddeninp'>
            <div class = 'aligner'>
                <input type = 'text' class = 'hiddeninp' name = 'username' value = '<%= User%>' id = 'CurrUsername'>
                <input type = 'text' class = 'hiddeninp' name = 'file'value = '<%= Edit.file%>' id = 'CurrFile'>
               
               <button id = "submitBeat" data-doc = '<%= Edit._id%>'>Confirm Changes</button>
            </div>
            </form>
          
        </fieldset>
        </div>





<script src = '/js/EditSellerProfile.js'></script>







    </body>
    </html>
