<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundMixerz | Music-Mixing</title>
    <link rel = "stylesheet" href = "css/music-mixing.css">
    <link rel="icon" href="/Images/SoundMixerzLogoBlue.jpg" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class = "HomePage-TABS">
    
        <fieldset id = "no-border" class = "tab">
        <div class = "preset tab">
            <button id = "non"><a href = "/Presets">Presets</a></button><!--ADD LINK TO VOCAL PRESET PAGE-->       
        </div>
        
    </fieldset>

    <fieldset id = "no-border" class = "tab">
        <div id = "hover" class = "Beats tab">
            <button id = "non"><a href = "/Beats">Beats</a></button><!--ADD LINK TO BEATS PAGE-->
           
        </div>
    </fieldset>

    <fieldset id = "border" class = "tab">
        <div class = "Mixing-Music tab">
            <button id = "preset"><a href = "/Music-Mixing">Mixing</a></button><!--ADD LINK TO MUSIC MIXING PAGE-->
       
        </div>
    </fieldset>

    
        <fieldset id = "no-border" class = "tab">
            <div class = "Home-Page tab">
                <button id = "non"><a href = "/" title = "HomePage"><span>🏠︎</span></a></button><!--ADD LINK TO FIND FEATURESPAGE-->
            
            </div>
            </fieldset>
            <fieldset id = "no-border" class = "tab">
                <div class = "Home-Page tab">
                    <button id = "non"><a href = "/DrumKits" title = "DrumKits"><span>Drum-Kits</span></a></button><!--ADD LINK TO FIND FEATURESPAGE-->
                
                </div>
                </fieldset>
            <div class = "Inbox inline right" id = 'Inbox'>
                <fieldset id = "no-border" class = "inline tab">
                        <button id = "non" class = 'Inbox'><span>&#9993;</span></a></button><!--ADD LINK TO BEATS PAGE-->
                    </fieldset>
                    </div>
                    <%- include("../Partials/NotiNum.ejs") %>
                    <%- include('../Partials/Cartnum.ejs') %>
    
    
            <div class = "Shopping-Cart inline">
                <fieldset id = "no-border" class = "inline tab">
                        <button id = "non"><a href = "/shopping-cart"><span>🛒 </span></a></button><!--ADD LINK TO BEATS PAGE-->
                    </fieldset>
                    </div>
            
        
    
    <div class = "account inline">
            <fieldset id = "no-border" class = "tab">
                <%-include('../Partials/PfpAcc.ejs') %>
            </fieldset>
        </div>
</div>
<div id = 'LoadingOuter'>
<div class="loader"></div>
</div>
    <div class = "products">
        <%- include("../Partials/MailBox.ejs") %>
    
        <div id = 'purMM'>
            <p>Successfully Purchased Order!</p>
            <p>You Will Be Notified by Email Once The Music has been Mixed</p>
        </div>
        <%  %>
        <% if(User == undefined){ %>
            <div class = 'centered'>
            <div class = 'NotLoggedInR aligner' id = 'NotLoggedInR'>
                <p>You Are Not Logged In Currently</p>
                <p>To Use These Features Please Log In</p>
                <a href = '/Log-In'>
                <button id = 'LogInNow'>Log-In</button>
            </a>
            </div>
            </div>
            <% } %>
        <div class = "heading">
       <h1>Music Mixing</h1>
    </div>
    <div class = "cap" id = "cap">
        <span><strong>For now we can only Mix others Music in Logic Pro and FL Studio</strong></span>
        <br>
        <span>Firstly, To start this process you will be taken through a form of only 3 questions</span>
        <br>
        <span>These Questions better help us to know more about what Music we are mixing</span>
        <br>
        <br>
        <span>The cost can also change based off of which package you choose from</span>
        <br>
        <span>Music Mixing Pro Package $25.00 or Music Mixing Essentials Package $10.00</span>
        <br>
        <br>
        <span>After you pay the fee for your music to be mixed, </span>
        <br>
        <span>It'll be sent to us then we will Mix your music to the best of our ability</span>
        <br>
        <span>Once we are done mixing your Music it'll be ready to download in the account page in the purchases tab</span>
        <br>
        <span>We will also send you an email letting you know your Music is done being Mixed</span>
        <br>
      
        <button id = "mixMyMusic">Mix My Music</button>

    </div>
    <div class = "progressbar" id = "progressbar">
        <div class = "box">
            <span id = "prognum"></span>
        <fieldset class = "full" id = "full">

        </fieldset>
        <fieldset class = "empty" id = "empty">

        </fieldset>
    </div>
    </div>
            
      
    

        <div class = "whatDAW" id = "whatDAW">
            <fieldset>
            <label class = ques id = 'musicmixQues3'><strong>What Genre of Music is the song from?</strong></label>
            <br>
            <br>
            <input type = "radio" id = "genre" name = "genre" value = 'Hip-Hop'class = "ques musicmixQues2" ><label for = "genre">Hip-Hop</label>
            <br>
            <br>
            <input type = "radio" id = "genre1" name = "genre" value = 'R&B'class = "ques musicmixQues2" ><label for = "genre1">R&B</label>
            <br>
            <br>
            <input type = "radio" id = "genre2" name = "genre" value = 'Pop'class = "ques musicmixQues2" ><label for = "genre2">Pop</label>
            <br>
            <br>
            <input type = "radio" id = "genre3" name = "genre" value = 'Rock'class = "ques musicmixQues2" ><label for = "genre3">Rock</label>
            <br>
            <br>
            <input type = "radio" id = "genre4" name = "genre" value = 'Country'class = "ques musicmixQues2" ><label for = "genre4">Country</label>
            <br>
            <br>
            <input type = "radio" id = "genre5" name = "genre" value = 'other'class = "ques musicmixQues2" ><label for = "genre5">Other...</label>
            <br>
            <textarea id = "other1" name = "other1" class = "ques" rows = "3" cols = "40" placeholder = "Type Here..."></textarea>
            
            </fieldset>
            <button id = "back2" class = "pad margleft" title = "back"><strong><</strong></button>
            <button id = "next2" class = "pad margright" title = "next"><strong>></strong></button>
            </div>
        <div class = "anyelse" id = "anyelse">
            <fieldset>
                <label class = ques1 id = 'anyelselabel'><strong>Anything else you would like to add for context to help us make it a better mixing experience?</strong></label>
                <br>
                <label class = ques3 id = 'maybspec'><strong>(Maybe something you want specifically?)</strong></label>
                <br>
                <br>
                <input type = "radio" id = "nothing" name = "nothing" value = 'No Thanks'class = "ques anyelseQues"  ><label for = "nothing">No Thanks!</label>
                <br>
                <input type = "radio" id = "nothing1" name = "nothing" value = 'yes'class = "ques anyelseQues"><label for = "nothing1">Yes</label>
                <br>
                <br>
                <textarea id = "explain" name = "explain" class = "ques" placeholder = "Please Type Your Extra Context Here..." rows = "3" cols = "40"></textarea>
                <br>
                
            </fieldset>
            <button id = "back3" class = "pad margleft"  title = "back"><strong><</strong></button>
                <button id = "next3" class = "pad margright"  title = "next"><strong>></strong></button>
            </div>
            <div class = "fastship" id = "fastship">
                <fieldset>
                   <fieldset id = 'ProBasMMCon' class = 'notedited'>
                   
                    <div class = 'flexContainer'>


                    <!--COMPARE ROW-->
                    
                    <div class = 'compSec'>
                        <div id = 'colorless2' class = 'aligner'>
                            
                            
                        </div>
                    <fieldset id = 'CompareRowTitle' class = 'ComRowProVsBas notedited'>
                        <p class = 'MMPtitles' id = 'comtit'>Compare Packages</p>
                    </fieldset>
                    <fieldset id = 'CompareRowShipping' class = 'ComRowProVsBas notedited'>
                        <p class = 'MMPtitless'>Shipping</p>
                    </fieldset>
                    <fieldset id = 'CompareRowPrice' class = 'ComRowProVsBas notedited'>
                        <p class = 'MMPtitless'>Price</p>
                    </fieldset>
                    <fieldset id = 'CompareRowPlugins' class = 'ComRowProVsBas notedited'>
                        <p class = 'MMPtitless'>Plugins</p>
                    </fieldset>
                    <div id = 'colorless2bot' class = 'aligner'>
                            
                            
                    </div>
                </div>



                <div class = 'ProSec'>
                    <div id = 'colorful' class = 'aligner'>
                            
                        <span id = 'colors'>Most Popular</span>
                    </div>
                    <fieldset id = 'ProRowTitle' class = 'ProRowProVsBas notedited'>
                        <h2 class = 'MMPtitles'>Music Mixing Pro</h2>
                        <button class = 'MMbuttons'  id = 'ProBut'>Pro Package</button>
                    </fieldset>
                    <fieldset id = 'ProRowShipping' class = 'ProRowProVsBas notedited'>
                        <p class = 'MMPtitlessPro'>1 day</p>
                    </fieldset>
                    <fieldset id = 'ProRowPrice' class = 'ProRowProVsBas notedited'>
                        <p class = 'MMPtitlessPro'>$25.00</p>
                    </fieldset>
                    <fieldset id = 'ProRowPlugins' class = 'ProRowProVsBas notedited'>
                        <p class = 'MMPtitlessPro'>Includes Wave Plugins</p>
                    </fieldset>
                    <div id = 'colorfulbot' class = 'aligner'>
                            
                           
                    </div>
                </div>


                <div class = 'BasSec'>
                    <div id = 'colorless' class = 'aligner'>
                           <span id = 'colors'>Most Affordable</span>
                            
                    </div>
                    <fieldset id = 'BasicRowTitle' class = 'BasRowProVsBas notedited'>
                        <h2 class = 'MMPtitles'>Music Mixing Essentials</h2>
                        <button class = 'MMbuttons'  id = 'BasBut'>Essentials Package</button>
                    </fieldset>
                    <fieldset id = 'BasicRowShipping' class = 'BasRowProVsBas notedited'>
                        <p class = 'MMPtitlessBas'>Up To 3 Days</p>
                    </fieldset>
                    <fieldset id = 'BasicRowPrice' class = 'BasRowProVsBas notedited'>
                        <p class = 'MMPtitlessBas'>$10.00</p>
                    </fieldset>
                    <fieldset id = 'BasicRowPlugins' class = 'BasRowProVsBas notedited'>
                        <p class = 'MMPtitlessBas'>Stock Plugins Only</p>
                    </fieldset>
                    <div id = 'colorlessbot' class = 'aligner'>
                            
                            
                    </div>
                </div>
                


                </div>
       
                   </fieldset>
                   
                </fieldset>
                <button id = "back4" class = "pad margleft"  title = "back"><strong><</strong></button>
                    <button id = "next4" class = "pad margright" title = "next"><strong>></strong></button>
            </div>
            <div class = "checkout" id = "checkout">
                <% if(User == undefined){ %>
                    <div id = 'NotLoggedInDiv'>
                        <div id = 'NotLoggedIntxt'>
                        <p>This Feature Requires You</p>
                        <p>To Be Logged In</p>
                        <p>or</p>
                        <p>You can Create an Account</p>
                        <p>For Free Almost Instantly</p>
                        <br>
                        <p>Please Log-In to Continue</p>
                        <br>
                        <a href = '/Log-In'>
                        <button id = 'PlzLogInButton'>Log-in</button>
                    </a>
                        <br>
                    </div>
                    </div>
                    <% } %>
                <fieldset>
                    <h2 id = "headcheck">Checkout</h2>
                    <fieldset id = "checks">
                        <fieldset id = "totalmixpay">
                            <span id = "totalsss">Total:</span>
                        </fieldset>
                        <fieldset id = "totalamountfield">
                            <span id = "totalamount"></span>
                            <span id = 'WhichPack'></span>
                            <br>
                            <span id = "addfee"></span>
                        </fieldset>
                        <br>
                    </fieldset>
                    <fieldset id = "buynow">
                        <form id = 'MMForm' method = 'post' enctype="multipart/form-data">
                            <label  id = 'fileuplab'><strong>Please upload your audio file </strong>(Only Accepts Audio Files)</label>
            <br>
                <br>
                <br>
            <input type = "file" accept = "audio/*" id = "audioUpload" name = 'audioUpload' required>
        </label>
            <br>
                        <input type = 'text' id = 'formques1' name = 'file' readonly class = 'hiddeninp'>
                        <input type = 'text'id = 'formques2' name = 'genre' readonly class = 'hiddeninp'>
                        <input type = 'text'id = 'formques3' name = 'context' readonly class = 'hiddeninp'>
                        <input type = 'text'id = 'formques4' name = 'WhichPack' readonly class = 'hiddeninp'>
                        <br>
                        <button id = 'PurchaseMM'>Buy Now</button>
                    </form>
                    </fieldset>
                </fieldset>
                <button id = "back5" class = "pad margleft"  title = "back"><strong><</strong></button>
                </div>

           
        </div>
        <%- include('../Partials/footer.ejs') %>
       
    <script src = "js/Music-Mixing.js"></script>
</body>
</html>