<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundMixerz | Account</title>
    <link rel = "stylesheet" href = "/css/SellerProfile.css">
    <link rel="icon" href="/Images/SoundMixerzLogoBlue.jpg" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('../Partials/AccountTabs.ejs') %>
    <div class = "products">
        <%- include("../Partials/MailBox.ejs") %>
        <%- include('../Partials/NotLogged.ejs')%>
        
        <div class = "flexContainer">
        
            <%- include('../Partials/AccTabs.ejs') %>
   

        
        <div id = "SellerProfileClick" class = "SellerProfileClick">
            <fieldset class = "not">
            <h2>Seller Profile</h2>
        </fieldset>
        <br>
        <div class = 'CustoCon'>
      <% var x = -1 %>
      
      <% var y = 0 %>
      <% var len = BT.length %>
        
        <% BT.forEach(BT => { %>
            <% y++ %>
            <% if(BT.username == User) {%>
                <% x++ %>
                
               
                <a href = '/EditSellerProfile/<%= BT._id %>' class = 'woms'>
                    <% if(BT.tag3 !== ''){ %>
                    <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %> <%= BT.tag2 %> <%=BT.tag3 %>">
                  <%  } else if(BT.tag2 !== ''){%>
                    <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %> <%= BT.tag2 %>">
                    
                    <% } else if(BT.tag1 !== ''){ %>
                        <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin <%= BT.tag1 %>">
                  <%  } else {%>
                    <div id = 'Beat_<%= x%>'class = "audioContainer zeroToOneMin NOTAGS">
                    <% } %>
                        <div class = 'aligner'>
                            <p class = 'username'><%= BT.username %></p>
                            <% if(BT.src == 'NoImg.jpg'){ %>
                                <div class = "backgroundimg">
                                <img src = '/Images/<%= BT.src %>'>
                                <div class = "overlay-text">
                             
                                <button class = 'play-btn' id = 'Play_<%= x%>' data-doc = '<%= BT.id%>'>&#x270E;</button>
                                
                
                                
                                </div>
                                </div>
                
                                <% } else {%>
                                    <div class = "backgroundimg">
                            <img src = '/BeatsUploaded/<%= BT.src %>'>
                            <div class = "overlay-text">
                          
                
                            <button class = 'play-btn' id = 'Play_<%= x%>'   data-doc = '<%= BT.id%>'>&#x270E;</button>
                                
                
                            </div>
                            </div>
                         
                            <% } %>
                         
                    <p class = 'beatname'><%= BT.beatname%>  </p>
                    <span class = 'price'>  $<%= BT.pob.toFixed(2) %></span>
                    <br>
                        
                   
                    <% if(BT.tag1 == ''){ %>
                    
                    </div>
                </a>
                </div>
                
                  <% } %>
                    <%if(BT.tag1 !== ''){ %>
                        <div class = "SearchTags flexContainer"><!--TAGS-->
                            <div class = "SkyBlue <%= BT.tag1 %>Tag LilDurk" title = "Tag">
                                <ul>
                                    <li class = "TagName"><%= BT.tag1 %></li>
                                </ul>
                            </div>
                        
                   <% if(BT.tag2 == ''){ %>
                   
                        </div>
                    </a>
                    </div>
                </div>
                
                    <% } %>
                 <% } %>
                    
                 <%if(BT.tag2 !== ''){ %>
                    
                        <div class = "SkyBlue <%= BT.tag2 %>Tag LilDurk" title = "Tag">
                            <ul>
                                <li class = "TagName"><%= BT.tag2 %></li>
                            </ul>
                        </div>
                   
                        <% if(BT.tag3 == ''){ %>
                      
                        </div>
                    </a>
                    </div>
                </div>
                
                        <% } %>
                        <% } %>
                    <%if(BT.tag3 !== ''){ %>
                      
                            <div class = "SkyBlue <%= BT.tag3 %>Tag LilDurk" title = "Tag">
                                <ul>
                                    <li class = "TagName"><%= BT.tag3 %></li>
                                </ul>
                            </div>
                            </div>
                        
                        </div>
                    </a>
                    </div>
                
                <% } %>
                <% } else if (y == len && x == -1){ %>
                    <div class = 'SellersProfAlign'>
                    <h2>You Are Selling No Items Currently</h2>
                </div>
                <%}%>
       <% })%>


    </div>











        </div>
        
        </div>

    </div>
    
        <script src = "/js/SellerProfile.js"></script>


</body>
</html>